<style>
    .about-sec{
    display: flex;
    align-items: center;
    column-gap: 55px;
}
</style>
<div class="about-sec">
    <div class="about-content"></div>
    <div class="about-img"></div>
</div>


{% schema %}
    {
      "name": "Image-with-text",
      "settings": [
        
      ],
      "presets": [
        {
          "name": "Slideshow"
        }
      ]
    }

    {% endschema %}