
  <style>
  	.top-press.image{
  		overflow-x: hidden;
  	}
  	.press-logo-with-text .container{
  		width: 1440px !important;
  	}
  	.logo-with-text{
    border: 5px solid #C1A058;
    background: #FFF;
  	}

  	.top-press.image{
  		position: relative;

  	}
.top-press.image h1{
	    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

  	.top-press.image h1{
  		color: #FFF;
text-align: center;
font-family: Mr Eaves Mod OT;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
  	}

.press-logo-with-text h6{
	color: #1F989E    ;
    font-family: Mr Eaves Mod OT;    
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.logo-text button{
	display: flex;
padding: 16px;
align-items: flex-start;
gap: 10px;
background: #C1A058;
}

.col-md-2 img{
	position: relative;
    right: 18%;
}
.col-md-4{
	display: flex;
width: 377px;
height: 156px;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin: 30px 0 29px 32px;
}
.col-md-6.text-box{
	padding-top: 37px;
    padding-left: 80px;
}
.col-md-6.text-box h6{
color: #1F989E;
font-family: Mr Eaves Mod OT;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
..col-md-6.text-box p{
	color: #1F4A50;
font-family: Verdana Pro;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 16px 0px 16px 0px;
}
.col-md-6.text-box button{
	display: flex;
padding: 16px;
align-items: flex-start;
gap: 10px;
border: none;
color: #FFF;
font-family: Mr Eaves Mod OT;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
background: #C1A058;
}
.logo-with-text{
	margin-top: 40px;
}
.press-bottom .col-md-6.left{
background: #1F989E;
position: relative;
}
.press-bottom .col-md-6.left img.center{
	position: absolute;
	top: 0;
	right: -4.8%;
}
.press-bottom h1{
	color: #FFF;
font-family: Mr Eaves Mod OT;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.9px;
text-transform: uppercase;
margin-bottom: 25px;
}
.press-bottom p{
	color: #FFF;
font-family: Mr Eaves Mod OT;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 485px;
}
.press-bottom button{
	display: flex;
width: 152px;
height: 54px;
padding: 16px 0px;
justify-content: center;
align-items: center;
flex-shrink: 0;
color: #FFF;
background: #C1A058;
text-align: center;
font-family: Mr Eaves Mod OT;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border: none;
}
.bottom-button{
	    display: flex;
    height: 43px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #1F989E;
    font-family: Mr Eaves Mod OT;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-top: 48px;
    line-height: normal;
    margin-bottom: 56px;
    border: navajowhite;
    background: white;
    border: 1px solid #BBB2A3;
    background: #FFF;
    border: none;
    border: 1px solid #BBB2A3;
}

.col-md-6.right{
	padding: 0px;
	height: 400px;
}
.press-bottom .col-md-6.left{
	padding: 64px 0 0 26px;

}


img.bottom-img{
    display: none;
}

.col-md-6.left img.mb-left{
        	display: none;
        }
        .col-md-6.left img.mb-right{
        	display: none;
        }

@media only screen and (max-width: 768px) {
        /* Adjustments for smaller screens */
        .press-logo-with-text .container {
            width: 100% !important;
        }

        img.bottom-img{
	position: absolute;
    bottom: 0;
    right: 0;
    display: block;
}

        .top-press.image h1{
        	font-size: 40px;
        }
        .press-logo-with-text .col-md-2{
        	display: none;
        }
        .press-bottom h1{
        	font-size: 45px;
        }

        .press-bottom button{
        	margin: auto;
            margin-bottom: 32px;
        }
        .col-md-6.text-box h6{
        	font-size: 20px;
        }

      

.logo-with-text{
	position: relative;
}
        .logo-with-text .col-md-4 {
            width: 100%;
            margin: 0;
        }
        


        .col-md-6.text-box {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
            margin: auto;
        }

        .col-md-6.text-box p {
            font-size: 19px;
            margin-top: 16px;
        }
        .col-md-6.left img.center{
        	display: none;
        }
        .col-md-6.left img.mb-left{
        	position: absolute;
            bottom: -42px;
           right: 0px;
        }
        .col-md-6.left img.mb-right{
        	position: absolute;
            bottom: -42px;
           left: 0px;
        }
        .press-bottom p{
        	width: 360px;
        }

        .col-md-6.text-box button {
            font-size: 18px;
            margin: auto;
            margin-bottom: 32px;
        }

        .bottom-button {
            font-size: 18px;
        }

        .col-md-6.left {
            padding: 20px 0;
        }

        .col-md-6.right {
            height: auto;
        }
        img.partner{
        	width: 80% !important;
        }

        img.hardle {
         width: 40% !important;
        height: 130px !important;
}
img.text {
    width: 60% !important;
}
    }
  </style>




<div class="top-press image">
	<div class="row">
		<div class="col-md-12">
			<img style="width: 100%" src="{{ section.settings.main-image | img_url : '' }}">
	        <h1>{{ section.settings.main-heading }}</h1>
		</div>
	</div>
</div>

<section class="press-logo-with-text">
	<div class="container">

		<div class="logo-with-text">
          {% for block in section.blocks %}
			<div class="row">
				<div class="col-md-4">

					<img style="position: absolute; left: 0; top: -4px;" src="https://cdn.shopify.com/s/files/1/0591/9870/1621/files/vvv.png?v=1701761972">
                  
					<img class="partner" style="width: 100%;height: auto;" src="https://cdn.shopify.com/s/files/1/0591/9870/1621/files/garden_and_gun_logo_1.png?v=1701712789">
				</div>
				<div class="col-md-6 text-box">
					<h6>A Cocktail for Every State</h6>
					<p>(On map, click West Virginia)</p>
					<button>SEE MORE</button>
					<img class="bottom-img" src="file:///Users/imac/Downloads/Vector%2032%20(1).png">
				</div>
				<div class="col-md-2">
					<img src="https://cdn.shopify.com/s/files/1/0591/9870/1621/files/Group_33830_3.png?v=1701710571">
				</div>
			</div>
         {% endfor %}
		</div>		
	</div>

	<button class="bottom-button">View More</button>
</section>



<section class="press-bottom">
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-6 left">
			<img class="center" src="https://cdn.shopify.com/s/files/1/0591/9870/1621/files/Group_8.svg?v=1701762514">
			<img class="mb-right" src="https://cdn.shopify.com/s/files/1/0591/9870/1621/files/Vector_31.svg?v=1701762514">
			<img class="mb-left" src="https://cdn.shopify.com/s/files/1/0591/9870/1621/files/Vector_30.svg?v=1701762514">
			<div class="press-bottom-box-text">
			<h1>CONTACT</h1>
			<p>When submitting inquiries, please note your media outlet.</p>
			<button>REACH OUT</button>
			</div>
		</div>
		<div class="col-md-6 right">
			<img width="100%" height="400px" src="https://cdn.shopify.com/s/files/1/0591/9870/1621/files/Stacked_wood_1800_x_800_1.png?v=1701762441">
		</div>
	</div>
	</div>
</section>

 {% schema %}
{
  "name": "Press Page",
  "settings": [
    {
  "type": "text",
  "id": "main-heading",
  "label": "main Heading"
},
{
  "type": "image_picker",
  "id": "main-image",
  "label": "Main Image"
}

  ],
 "max_blocks": 8,
  "blocks": [
     {
       "name": "Logo And Text",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Partner Image"
         }
       ]
     }
  ],
    "presets": [
  {
    "name": "Press Page"
  }
]
}
{% endschema %} 

