<div class="top-press image">
	<div class="row">
		<div class="col-md-12">
			<img style="width: 100%" src="file:///Users/imac/Downloads/Group%2033829%20(1).png">
	        <h1>PRESS</h1>
		</div>
	</div>
</div>