<style>
    .pres-bg-header{
        background: url( {{ section.settings.Press_bg |  img_url: 'master' }});
        background-size:cover;
        background-position:center center;
        padding:95px 0;
    } 
    .pres-bg-header h2{
        color: #FFF;
text-align: center;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
    }
   
</style>

<div class="pres-bg-header">
    <h2> {{ section.settings.press_title }} </h2>
</div>



{% schema %}
    {
      "name": "Press-custom",
      "settings": [
        {
          "type": "image_picker",
          "id": "Press_bg",
          "label": "ADD Backgroun image"
        },
        {
            "type":"text",
            "id": "press_title",
            "label": "ADD Title"
        }
      ],
     
      "presets": [
        {
          "name": "Press-custom"
        }
      ]

    }
    {% endschema %}
    