<style>
 .bg-visit-header{
background:url( {{ section.settings.main_bg_visit | img_url: 'master' }});
background-size:cover;
background-position:center center;
padding: 95px 0;
 }   
 .bg-visit-header h2 {
    font-size: 58px;
    color: white;
    text-align: center;
    width: 39%;
    margin: 0 auto;
} 
.main-page-content{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.rich-text p {
    font-size: 20px;
    font-weight: 400;
}
</style>




<div class="bg-visit-header">
    <h2> {{ section.settings.title_main }} </h2>
</div>
<div class="main-page-content">
<div class="rich-text">
{{ section.settings.main-rich-text }}
</div>
<div class="visit-img">
<img src="{{ section.settings.main_visit | img_url: "master"}}">
</div>


{% comment %} tabs {% endcomment %}
<div class="tabs">
  <ul id="tabs-nav">
    <li><a href="#tab1">Bob</a></li>
  </ul> <!-- END tabs-nav -->
  <div id="tabs-content">
    <div id="tab1" class="tab-content">
      <h2>Silent Bob </h2>
      <p>"You know, there's a million fine looking women in the world, dude. But they don't all bring you lasagna at work. Most of 'em just cheat on you."</p>
    </div>
  </div> 
</div> 
</div>
{% schema %}
    {
      "name": "Custom-visit",
      "settings": [
        {
          "type": "text",
          "id": "title_main",
          "label": "ADD Title"
        },
        {
          "type": "image_picker",
          "id": "main_bg_visit",
          "label": "ADD Background Image"
        },
        {
            "type": "richtext",
            "id": "main-rich-text",
            "label": "ADD Content"
        },
        {
          "type": "image_picker",
          "id": "main_visit",
          "label": "ADD Image"
        }
      ],
      "blocks": [
         {
           "name": "Slide",
           "type": "slide",
           "settings": [
             {
               "type": "image_picker",
               "id": "image",
               "label": "Image"
             }
           ]
         }
      ],
      "presets": [
        {
          "name": "Custom-visit"
          
        }
      ]
      
    }
    {% endschema %}
    